<div>
  <%= render partial: "shared/search_bar/search_bar" %>
</div>
<div class="container-fluid cards">
  <div class="row">
    <%= render partial: "shared/intro_page/routes_by_region", collection: @intro_page_content.routes_by_region, as: :region %> 
  </div>
</div>

<%= render partial: "shared/intro_page/most_favourite_headers", locals: {routes: @intro_page_content.most_favourites_routes}%>
<%= render partial: "shared/intro_page/new_routes_headers", locals: {routes: @intro_page_content.new_routes}%>

