@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
$iconColor: #fff;
.search {
  margin: 10px;
  width: 99%;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-family: 'FontAwesome';
    content: '\f002';
    text-align: center;
    color: $iconColor;
    border-radius: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: rgb(210, 210, 210);
    &:hover {
      background-color: rgb(180, 180, 180);
      transition: background 0.25s ease-out, color 0.125s ease-out;
  }
  }
}
.searchTerm {
  width: 100%;
  &:hover {
    background-color: rgb(240, 240, 240);
    transition: background 0.25s ease-out, color 0.125s ease-out;
}
  border: 5px solid rgb(210, 210, 210);
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}
.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}