<div class="active_users"></div>

<script>

const svg = d3.select('.active_users')
  .append('svg')
    .attr('width',1200)
    .attr('height', 600);

// create margins & dimensions
const margin = {top: 20, right: 20, bottom: 100, left: 100};
const graphWidth = 1200 - margin.left - margin.right;
const graphHeight = 600 - margin.top - margin.bottom;

const graph = svg.append('g')
  .attr('width', graphWidth)
  .attr('height', graphHeight)
  .attr('transform', `translate(${margin.left}, ${margin.top})`);

// create axes groups
const xAxisGroup = graph.append('g')
  .attr('transform', `translate(0, ${graphHeight})`)

const yAxisGroup = graph.append('g');

  const y = d3.scaleLinear()
    .domain([0, d3.max('<%=escape_javascript  @data  %>', d => d.count)])
    .range([graphHeight, 0]);

  const x = d3.scaleBand()
    .domain('<%=j  @data.to_json  %>'.map(item => item.region))
    .range([0, graphWidth])
    .paddingInner(0.2)
    .paddingOuter(0.2);

  // join the data to circs
  const rects = graph.selectAll('rect')
    .data('<%=j @data.to_json  %>');

  // add attrs to circs already in the DOM
  rects.attr('width', x.bandwidth)
    .attr("height", d => graphHeight - y(d.count))
    .attr('fill', 'orange')
    .attr('x', d => x(d.region))
    .attr('y', d => y(d.count));

  // append the enter selection to the DOM
  rects.enter()
    .append('rect')
      .attr('width', x.bandwidth)
      .attr("height", d => graphHeight - y(d.count))
      .attr('fill', 'orange')
      .attr('x', (d) => x(d.region))
      .attr('y', d => y(d.count));

  // create & call axes
  const xAxis = d3.axisBottom(x);
  const yAxis = d3.axisLeft(y);

  xAxisGroup.call(xAxis);
  yAxisGroup.call(yAxis);
  xAxisGroup.selectAll('text')
    .attr('transform', 'rotate(-40)')
    .attr('font-size', '15px')
    .attr('text-anchor', 'end')
</script>
</script>