<%= link_to user_path(user[0]) do %>
  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-module-reporter">
        <div class="wrapper title-comment">
          <div class="column title"><%=user[1]%></div>
          <div class="column comment"><%=user[2]%></div>
        </div>
      </div>
    </div>
  </div>
<% end %>